.col{
	justify-content: center;
}

.contenitore-signUp {
	margin-top: 4%;
}


.image-singUp {
	margin-top: 10%;
	width: 100%;
	justify-content: center;
	align-content: center;
}

@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }
}