body{
	font-family: 'Roboto', sans-serif;
	font-family: 'Tinos', serif;
}

.main-row{
	height: 40vw;
 	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-image: linear-gradient(rgba(100, 100, 100, 0.4), rgba(100, 100, 100, 0.4)), url("/images/default/profileBg.jpg");
  	display: flex;
}

.profile-img{
	max-width: 20rem;
}

.title-frame{
	display: flex;
}

.title{	
	font-size: 4.5rem;
	font-weight: bold;
	color: white;

	text-align: center;
	border-bottom: 3px solid #fff;
	
}


.featurette-divider {
  margin: 1.5rem 0; /* Space out the Bootstrap <hr> more */
}

.exp-img{
	height: 11rem;
}

.card{
	width: 19rem;
}
