<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Dettagli user</title>
	  	<!-- CSS only -->
  		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/base.css">
  		<link rel="stylesheet" href="/css/profile.css">
  
  		<!-- JavaScript Bundle with Popper -->
  		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
  				integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  		
</head>
<body >
		<!-- Navbar Fragment -->
		<header th:replace="fragments/base.html :: navbar"></header>
		
		<div class="container-fluid bg-light">
		
			<!-- Main Frame -->
			<div class="row main-row">
				<div class="col title-frame align-self-center d-flex justify-content-center">
					<div class="title">Profilo Utente</div>
				</div>
			</div>
			
			<!-- Profile Info -->
			<div class="row m-4 d-flex justify-content-center">
			    <div class="col-lg-7">

			      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			        <div class="col">
			        	<img th:if="${user.img != null}" th:src="@{'/images/' + ${user.getDirectoryName()} +'/'+ ${user.img}}" class="img-fluid" alt="...">	
			      		<img th:if="${user.img == null}" src="/images/default/profile.png" class="img-fluid" alt="...">
			        </div>
			        <div class="col p-4 d-flex flex-column position-static">
			          <strong class="d-inline-block mb-2 text-primary">Profile</strong>
			          <h3 class="mb-0" th:text="|${user.name} ${user.surname} - ${user.id}|">Nome Cognome - id</h3>
			          <div class="mb-1 text-muted" th:text="${user.email}">travelblog@email.com</div>
			          <div class="mb-1 text-muted" th:text="${user.birthDate}">01/01/01</div>
			          <div class="btn-group align-self-start mt-3" role="group">
			          	<a  href="/"  class="btn btn-sm btn-outline-primary">Modifica Profilo</a>	
			          	<a  href="/"  class="btn btn-sm btn-outline-danger">Elimina Profilo</a>	
			          	<a  th:href="@{/experience/add}" href="/" class="btn btn-sm btn-outline-success">Aggiungi Esperienza</a>
			          </div>
			        </div>
			      </div>
			    </div>
			</div>
			
			<hr class="featurette-divider">
			
			<!-- Experience Info -->

			<div class="row bg-light">
				<h1 class="col p-4 text-center text-secondary" th:text="|Le tue esperienze ${user.name}|">Le Esperienze</h2>
			</div>
			
			<!-- Card Frame --> 
			<div class="row d-flex justify-content-center">
					<div class="col-md-auto d-flex justify-content-center" th:each="experience : ${user.experiences}">
						<div class="card mb-4 shadow">
							<img th:if="${experience.imgs[0] == null}" class="card-img-top exp-img" src="/images/mountain.png">
		  					<img th:if="${experience.imgs[0] != null}" th:src="@{'/images/' + ${experience.getDirectoryName()} +'/'+ ${experience.imgs[0]}}" class="card-img-top exp-img" alt="...">
		  					<div class="card-body">
		    					<h4 class="card-title text-primary" th:text="${experience.name}">Nome esperienza</h4>
		    					<h5 class="card-text" th:text="${experience.description}">Descrizione esperienza</h5>
		    					<h5 class="card-text text-muted" th:text="|${experience.location.country}, ${experience.location.city} |">Location Esperienza</h5>
				    			<h5 class="card-text text-muted" th:text="${experience.creationTime.toString().substring(0,10)}">Data esperienza</h5>
		    					<div>
    								<a th:href="@{'/experience/delete/' + ${experience.id}}" class="btn btn-sm btn-outline-danger">Elimina</a>
				                  	<a th:href="@{'/experience/modify/' + ${experience.id}}" class="btn btn-sm btn-outline-secondary">Modifica</a>
				                </div>
		  					</div>
						</div>	
						
					</div>
					
			</div>  
			
		</div>
		
		<!-- Footer -->
		<footer th:replace="fragments/base.html :: footer" class="m-0"></footer>
		
		<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>