<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Travel-blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
  	<!-- Icon -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  		
  	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/signUp.css">
	<link rel="stylesheet" href="/css/base.css">
	
	<!-- Font -->
  	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tinos&display=swap" rel="stylesheet">

</head>
<body>
	<!-- Navbar Fragment -->
	<header th:replace="fragments/base.html :: navbar"></header>
		
	<div class="page container-fluid">
  		  <div class="form shadow-lg p-3 mb-5 bg-light">
	        	<form class="" th:action = "@{/registration/validate}" method="post"  enctype="multipart/form-data">
					  <h1 class="form-text text-muted mb-3"><b>Registrati</b></h1>
					
	                  <div class="form-group">
	                  	<label class="form-label" for="form3Example1c">Nome</label>
	                    <input type="text" th:field="${user.name}" class="form-control" required />
	                    <div class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}"></div>
	                  </div>
	
	                  <div class="form-group">
	                  	<label class="form-label" for="form3Example1c">Cognome</label>
	                    <input type="text" th:field="${user.surname}" class="form-control" required />
	                    <div class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}"></div>
	                  </div>
	
	                  <div class="form-group">
	                  	<label class="form-label" for="form3Example1c">Username</label>
	                    <input type="text" th:field="${credentials.username}" class="form-control" required />
	                    <div class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"></div>
	                  </div>
	
	                  <div class="form-group">
	                  	<label class="form-label" for="form3Example1c">Data di nascita</label>
	                    <input type="date" th:field="${user.birthDate}" class="form-control" required />
	                  </div>
	
	                  <div class="form-group">
	                  	<label class="form-label" for="form3Example1c">Email</label>
	                    <input type="text" th:field="${user.email}" class="form-control" required />
	                    <div class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}"></div>
	                  </div>
	
	                  <div class="form-group">
	                  	<label class="form-label" for="form3Example4c">Password</label>
	                    <input type="password" th:field="${credentials.password}" class="form-control" required />
	                    <div class="alert alert-danger mt-2" role="alert" th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"></div>
	                  </div>
	                  
	                  <div class="form-row d-flex justify-content-start m-4">
			      		<label for="inputImg">Immagine</label>
			     		<input class="form-control-file" type="file" id="inputImg" name="file">
			   	      </div>
						
					  <small class="form-text text-muted">Already registered? <a href="/login">Sign In</a></small><br>
						
	                  <div class="form-group">
	                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
	                  </div>
					
	             </form>
           	</div>
       </div>
          
      <!-- Footer -->
	  <footer th:replace="fragments/base.html :: footer"></footer>
		
	  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
	  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>